rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Catch-all
    match /{document=**} {
      allow read, write: if true;
    }

    match /barda_users/{userId} {
      allow read, write: if true;
    }

    match /barda_settings/{settingId} {
      allow read, write: if true;
    }

    match /barda_app_config/{configId} {
      allow read, write: if true;
    }

    match /barda_invitations/{invitationId} {
      allow read, write: if true;
    }

    match /barda_sales_orders/{orderId} {
      allow read, write: if true;
    }

    match /barda_fixed_costs/{costId} {
      allow read, write: if true;
    }

    match /barda_payments_ledger/{paymentId} {
      allow read, write: if true;
    }

    match /barda_quotes_log/{quoteId} {
      allow read, write: if true;
    }

    match /barda_funnel_overrides/{overrideId} {
      allow read, write: if true;
    }

    match /barda_fabricacion_list/{fabId} {
      allow read, write: if true;
    }

    match /barda_stock_items/{itemId} {
      allow read, write: if true;
    }

    match /barda_stock_movements/{movementId} {
      allow read, write: if true;
    }
  }
}

